/*font face section*/
@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
  url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Black.eot');
  src: url('../fonts/TitilliumWeb-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Black.woff') format('woff'),
  url('../fonts/TitilliumWeb-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Light.eot');
  src: url('../fonts/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Light.woff') format('woff'),
  url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
  url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Titillium Web', Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.mainWrapper{
	width: 100%;
	margin: 0;
}

.random-bg-1{
  background: url("../images/body-map-1.png") no-repeat right bottom;
}

.random-bg-2{
  background: url("../images/body-map-2.png") no-repeat right bottom;
}


/*font sizes START*/
.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: 14px;
}

.fs-16{
  font-size: 1rem;
}

.fs-18{
  font-size: 18px;
}
/*font sizes END*/

.fontBold{
  font-weight: bolder;
}

/*weather widget START*/

.weatherParentContainer{
  width: 95vw;
  overflow: hidden;
}

.weatherMainContainer{
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 5px;
}


.weatherMainContainer > div{
 margin: 0 !important;
 overflow: hidden;
 flex: 1 0 auto;
}

/*weather widget END*/

/*footer START*/
.footer{
  position: fixed; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  width: 100%;
}

.randomData{
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

/*.randomData h5{
  
}*/

/*DESKTOP START*/
@media only screen and (min-width: 1024px) {

  .mainWrapper{
    width: 800px;
    margin: 20px auto;
  }
  .weatherParentContainer{
    width: 100%;
  }
  .randomData{
    background: transparent;
  }
}
